<hello name="{{ name }}"></hello>
<p>
	1.- Escriba una función/método en (cualquier lenguaje) que determine la cantidad de 0’s a la derecha de n!
	(factorial). Use para probar el número 1000.
</p>
Ingrese un número: <input type="number" min=0 [(ngModel)]="numero"><button (click)="problemaUno()">Calcular</button>
<p>
	Factorial: {{ nFactorial }}
	<br>
  Cantidad de 0's a la derecha: {{ cantidadCeros }}
</p>
<p>
	2.- Problema Etiquetadora defectuosa: En la empresa tenemos un juego de apuestas con dinero ficticio, en donde una vez se define el ganador, se le imprime un tiquete con el monto ganado. Un día, al momento de querer imprimir, nos dimos cuenta de que el dígito 4 no se imprimía. Esto no es algo bueno, dado que siempre el monto es un número que contiene al menos un 4 entre sus dígitos. Por suerte, a una persona se le ocurrió que podíamos entregar dos cheques con montos A y B, tal que A+B = N, donde N es el monto total del tiquete a pagar. Se necesita entonces formular una función que nos permita imprimir A y B de forma que podamos pagar al ganador.
<li>a. Input: Monto N a pagar a la persona.
<li>b. Output: Valores A y B tal que A+B = N
<li>c. Restricciones: 1 ≤N≤ 10^100. Al menos un dígito de N es 4
<li>d. Ejemplo:
Entrada: N = 9463 Salida: A = 6352, B=3111
</p>
Ingrese un número: <input type="number" min=0 [(ngModel)]="montoTicket">
<button (click)="calcularTickets()">Calcular</button>
<p>
	Ticket 1: {{ ticketA }}
	<br>
  Ticket 2: {{ ticketB }}
</p>